@{
  Layout = "_Layout";
}
    <h1>Add a category</h1>
    <p>Add a category here:</p>

    <form action="/categories" method="post">
      <label for="categoryName"></label>
      <input id="categoryName" name="categoryName" placeholder="Category name" type="text">
      <button type="submit">Add</button>
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/categories">Back to categories.</a></p>
